.o{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('https://images.pexels.com/photos/1784577/pexels-photo-1784577.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size:cover ;
   
 
 }
 .loginTitle{
     font-size: 50px;
 }
 .loginForm{
     margin-top: 20px;
     display: flex;
     flex-direction: column;
 }
 .loginForm > label {
     margin: 10px ,0;
     font-size: large;
     padding-top: 10px;
 }
 .loginForm > input{
     margin-top: 20px;
     padding: 10px;
     background-color: white;
     border: none;
 }
 .loginButton{
     margin-top: 20px;
     cursor: pointer;
     background-color: teal;
     border: none;
     color: white;
     border-radius: 10px;
     padding: 10px;
 }
 .loginRegisterButton{
     position: absolute;
     top: 2%;
     right: 2%;
     background-color: lightcoral;
     color: white;
     border: none;
     padding: 10px;
     border-radius: 10px;
     width: 150px;
 }
 
 